# Ignore Python cache/build artifacts
__pycache__/
*.py[cod]
*.pyc

# Ignore IDE / editor configs
.idea/
*.iml

# Ignore virtual environment folders (if any)
env/
venv/
.venv/

# Ignore logs, sqlite DB (if you don’t want DB in repo)
*.log
db.sqlite3
